<body>
    <div class="container">
        <div class="sidebar">
            <ul>
                <li><a href="#usuario">Usuario</a></li>
                <li><a href="#configuracion">Configuración</a></li>
                <li><a href="#acerca-de">Acerca de</a></li>
                <li><a href="#contactos">Contactos</a></li>
                <li><a routerLink="/selector" class="regresar-sidebar">Regresar</a></li> <!-- Usar routerLink para navegar -->
            </ul>
        </div>
        <div class="main-content">
            <div id="usuario" class="section">
                <div class="user-info">
                    <div class="user-photo-container">
                        <div class="user-photo"></div>
                    </div>
                    <div class="user-details">
                        <h2>Francisco Zumba</h2>
                        <p>Correo: rafrazumbagmail.com</p>
                        <p>Dirección: Ricaurte Barrio la Unión</p>
                    </div>
                </div>
            </div>
            <div id="configuracion" class="section">
                <h2>Configuración</h2>
            </div>
            <div id="acerca-de" class="section">
                <h2>Acerca de</h2>
            </div>
            <div id="contactos" class="section">
                <h2>Contactos</h2>
            </div>
        </div>
    </div>
</body>
