<head>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css" />
</head>

<body>
    <!-- Mostrar el contenido solo si isLoaded es true -->
    <div *ngIf="isLoaded; else loading" class="container">
        <div class="title">Datos Caja #{{ cajaId }}</div>
        <button class="back-button" (click)="goBack()">← Regresar</button>
        <div class="sections">
            <div class="section" (click)="goToTemperatureInterface()">
                <i class="uil uil-temperature-half"></i>
                <div class="text">Temperatura</div>
            </div>
            <div class="section" (click)="goToHumidityInterface()">
                <i class="uil uil-tear"></i>
                <div class="text">Humedad</div>
            </div>
            <div class="section" (click)="goToWeightInterface()">
                <i class="uil uil-balance-scale"></i>
                <div class="text">Peso</div>
            </div>
            <div class="section" (click)="goToCamerasInterface()">
                <i class="uil uil-camera"></i>
                <div class="text">Cámaras</div>
            </div>
        </div>
    </div>

    <!-- Mostrar un mensaje de carga mientras isLoaded es false -->
    <ng-template #loading>
        <div class="loading-container">
            <p>Cargando...</p>
        </div>
    </ng-template>
</body>